@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&family=PT+Sans:wght@700&family=Source+Sans+Pro:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    margin-top: 120px;
    margin-bottom: 60px;
    font-size: 60px;
    text-align: center;
}

#tvVideo{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 720px;
    height: 405px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.channelTitle{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
}

.nasaVideosSec{
    margin-top: 50px;
    padding: 25px;
    background-color: #31009244;
}

.videoCard{
    text-align: center;
    width: 240px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.videoLink{
    color: white;
    text-decoration: none;
}

.videoLink:hover{
    color: white;
}

.videoTitle{
    font-size: 14px;
    font-weight: 900;
}

.videoImg{
    width: 220px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row {
    margin-top: 50px !important;
}

/* Media Querys */

@media only screen and (max-width: 760px) {
    #tvVideo{
        width: 92vw;
        height: 52vw;
    }
}